<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-globals-contest.ZPM">
    <Module>
      <Name>iris-globals-contest</Name>
      <Version>0.0.1</Version>
      <Description>The simplest template to run embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.python.PKG"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
      <FileCopy Name="data/" Target="${mgrdir}data/"/>
    </Module>
  </Document>
</Export>
